body{
    margin: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.register{
    float: left;
    width: 400px;
    margin-left: 10px;
    z-index: 1;
}
#container{
    background-image: url("./images/tablo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
#diakPreview{
    height: 300px;
}